.input-password {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.input-password-title {
    color: #31577a;
    font-size: 24px;
    margin-left: 4px;
}

.input-password-container {
    width: 100%;
    height: 48px;
    display: grid;
    grid-template-columns: 60px 0 1fr 60px;
    grid-template-rows: 1fr;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.input-password-rect-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px 0px 0px 8px;
}

.input-password-icon {
    height: 20px;
}

.input-password-edit {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 16px;
    border: none;
    background: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #076dcc;

    &:focus {
        outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: #076dcc;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:-webkit-autofill::first-line {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &::-webkit-contacts-auto-fill-button,
    &::-webkit-credentials-auto-fill-button,
    &::-ms-reveal,
    &::-ms-clear {
        display: none !important;
    }
}

.input-password-container-sight {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-password-sight {
    height: 20px;
    cursor: pointer;

    &:hover {
        .input-password-sight-color {
            fill: #076dcc;
        }
    }
}

.input-password-sight-small {
    height: 15px;
    cursor: pointer;

    &:hover {
        .input-password-sight-color {
            fill: #076dcc;
        }
    }
}
